<template>
  <q-page padding class="flex flex-center">
    <!-- content -->
    <q-card  square
             style="width: 400px; padding:10px">
      <h5 class="text-primary text-center">Edit Recipe</h5>
      <q-card-section>
        <q-input outlined v-model="name" label="Name" :rules="[rules.required]"/>
      </q-card-section>
      <q-card-section>
        <q-input outlined v-model="description" label="Description" :rules="[rules.required]"></q-input>
      </q-card-section>
      <q-card-section>
        <q-file outlined v-model="recipe_image" label="Recipe image" :rules="[rules.required]"/>
      </q-card-section>
      <q-card-section>
        <q-btn label="Add Ingredients" color="primary" @click="prompt = true" />
        <q-dialog v-model="prompt" persistent>
          <q-card style="min-width: 350px">
            <q-card-section>
              <div class="text-h6">Recipe ingredients</div>
            </q-card-section>
            <q-card-section class="q-pt-none">
              <div v-for="(ingredient,k) in ingredients" :key="k">
                <div class="row justify-between" style="height: 150px">
                  <div class="col-4 col-md-6  q-pr-sm"> <q-input  outlined v-model="ingredient.name" label="Name" autofocus @keyup.enter="prompt = false" /></div>
                  <div class="col-4 col-md-6 q-pl-sm"><q-input  outlined v-model="ingredient.quantity" label="Quantity" type="number" autofocus @keyup.enter="prompt = false" />

                  </div >
                  <q-btn  size="sm"  label="Add" color="primary" @click="add(k)" v-show="k == ingredients.length-1"></q-btn>
                  <q-btn label="remove" size="sm" color="red" @click="remove(k)" v-show="k || ( !k && ingredients.length > 1)"></q-btn>
                </div>
              </div>
            </q-card-section>

            <q-card-actions align="right" class="text-primary">
              <div class="q-gutter-md row items-start">
                <div class="column" >
                  <q-btn flat label="Cancel" v-close-popup />
                </div>
                <q-btn flat label="Edit recipe" v-close-popup type="submit"  @click.prevent="editRecipe($route.params.id)" />
              </div>
            </q-card-actions>
          </q-card>
        </q-dialog>
      </q-card-section>
    </q-card>
  </q-page>
</template>
<script>
  import IngredientInput from "../components/IngredientInput";
 // import {mapGetters} from 'vuex';
  export default {
    components: {IngredientInput},
    data() {
      return {
        prompt: false,
        name:'',
        description:'',
        recipe_image:null,
        ingredients: [
          {
            name: '',
            quantity:''
          }
        ],
        recipe:{},
        rules: {
          required: value => !!value || 'required'
        }

      }
    },
    /*computed: {
      ...mapGetters('recipes', ['recipesList']),

    },*/

    methods: {
      add(index) {
        this.ingredients.push({ name: '', quantity:'' });
      },
      remove(index) {
        this.ingredients.splice(index, 1);
      },
      editRecipe(i) {
        console.log(i)
        let hasErrors = false;
        if (this.name === "") {
          alert(" Recipe name is required")
          hasErrors = true;
        }
        if (this.description === "") {
          alert("Description is required")
          hasErrors = true;
        }
        if (this.recipe_image === "") {
          alert("Image is required")
          hasErrors = true;
        }
        if (this.ingredients === "") {
          alert("Please add the ingredients ")
          hasErrors = true;
        }
        if (!hasErrors) {
          this.$store.dispatch("recipes/edit_recipe", {
            name: this.name , description: this.description,
            recipe_image : this.recipe_image ,ingredients: this.ingredients,
            index: i, router :this.$router.go(-1)
          })
        }
      },

    }
  }
</script>
