<template>
  <q-page padding class="flex flex-center">

    <!-- content -->
    <div class="q-pa-md row items-center q-gutter-md">
      <q-card  square
               style="width: 400px; padding:10px">
        <img
                src="~/assets/images/Recipes-Banner.jpg"
                height="150"
        />
        <q-card-section>

          <div class="text-h6">Login</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <q-input color="blue-12" v-model="email" label="Email"  :rules="[rules.required]">
            <template v-slot:prepend>
              <q-icon name="email" />
            </template>
          </q-input>
          <q-input color="blue-12" v-model="password" type="password" label="Password"  :rules="[rules.required]">
            <template v-slot:prepend>
              <q-icon name="password" />
            </template>
          </q-input>
        </q-card-section>
        <q-card-actions>
          <q-btn color="primary" label="Sign in" type="submit"  @click.prevent="loginUser()"/>
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>
<script>
  import {mapActions} from 'vuex';
  export default {
    data() {
      return {
        email: '',
        password: '',
        rules: {
          required: value => !!value || 'required'
        }

      }
    },
    methods: {
      ...mapActions([
        'login',
      ]),
      loginUser() {
        let hasErrors = false;
        if (this.email === "") {
          alert("Email is required")
          hasErrors = true;
        }
        if (this.password === "") {
          alert("Password required")
          hasErrors = true;
        }
        if (!hasErrors) {
          this.$store.dispatch("auth/login", {
            password: this.password,
            email: this.email,
            router : this.$router
          })
        }
      },
    }
  }
</script>
