<template>
    <q-page padding>
        <!-- content -->
        <div class="row justify-end">
            <q-btn color="primary" style="width: 200px"
                   icon="queue"
                   to="/add_recipe"
            >
                <div class="ellipsis">
                    Add Recipe
                </div>
            </q-btn>
        </div>
        <div class="q-pa-md row items-start q-gutter-md">
            <div   v-for="(recipe, i) in  recipes "
                   :key="i"
            >
                <!--src={recipe.recipe_image}-->
                <q-card class="my-card">
                    <img src="https://cdn.quasar.dev/img/chicken-salad.jpg">
                    <q-card-section>
                        <div class="text-h6"> {{recipe.name}}</div>
                        <div class="text-subtitle2">{{recipe.description}} </div>
                    </q-card-section>
                    <q-card-section class="q-pa-md row items-start q-gutter-md">
                        <q-btn  size="sm"  label="Details" color="primary" @click="details(i)" ></q-btn>
                        <q-btn  size="sm"  label="Edit" color="primary" :to="{name:'edit_recipe', params: { id : i }}"></q-btn>
                        <q-btn  size="sm" label="Delete" color="red"  @click="confirm = true"></q-btn>
                        <q-dialog v-model="confirm" persistent>
                            <q-card>
                                <q-card-section class="row items-center">
                                    <q-avatar icon="delete" color="primary" text-color="white" />
                                    <span class="q-ml-sm">You are sure that you want to Delete this recipe ?</span>
                                </q-card-section>

                                <q-card-actions align="right">
                                    <q-btn flat label="Cancel" color="primary" v-close-popup />
                                    <q-btn  v-close-popup flat label="Delete" color="primary" @click.prevent="deleteRecipe(recipe)"  v-close-popup/>
                                </q-card-actions>
                            </q-card>
                        </q-dialog>
                    </q-card-section>
                </q-card>
            </div>
            <q-dialog v-model="card">
                <q-card class="my-card">
                    <q-img src="https://cdn.quasar.dev/img/chicken-salad.jpg" />
                    <q-card-section>
                        <q-btn
                                fab
                                color="primary"
                                icon="local_dining"
                                class="absolute"
                                style="top: 0; right: 12px; transform: translateY(-50%);"
                        />
                        <div class="row no-wrap items-center">
                            <div class="col text-h6 ellipsis">
                                {{this.selected_recipe.name}}
                            </div>
                            <div class="col-auto text-grey text-caption q-pt-md row no-wrap items-center">
                                <q-icon name="place" />
                                250
                            </div>
                        </div>

                    </q-card-section>
                    <q-card-section class="q-pt-none q-pr-md">
                        <div class="text-subtitle1">
                            {{this.selected_recipe.description}}
                        </div>
                        <div v-for="ingredient in this.selected_recipe.ingredients">
                            <div class="text-caption text-grey">
                                {{ingredient.name}} /
                                {{ingredient.quantity}}
                                <q-btn color="primary"  size="xs" label="buy" @click="add_to_shopping(ingredient.name,ingredient.quantity)"></q-btn>
                                <!-- <q-checkbox left-label v-model="check"  v-on:click="add_to_shopping(ingredient.name,ingredient.quantity)"/>-->
                            </div>
                        </div>
                    </q-card-section>

                    <q-separator />

                    <q-card-actions align="right">
                        <q-btn v-close-popup flat color="primary" label="Hide" />
                    </q-card-actions>
                </q-card>
            </q-dialog>
        </div>
    </q-page>
</template>

<script>
    export default {
        // name: 'PageName',
        data() {
            return {
                confirm: false,
                card: false,
                selected_recipe:{},
            }
        },
        computed: {
            recipes: {
                get() {
                    return this.$store.state.recipes.recipes
                }
            }
        },
        methods: {
            deleteRecipe(recipe) {
                this.$store.dispatch("recipes/delete_recipe",recipe);

            },
            details(i){
                this.card = true;
                console.log(this.recipes)
                /* this.selected_recipe[i] = this.recipes.filter(obj => {
                   return obj.name === name
                 })*/
                this.selected_recipe = this.recipes[i]
                console.log(this.selected_recipe)
            },
            add_to_shopping(name,quantity){
                this.$store.dispatch("shopping/add_ingredient_to_shopping",{name: name,quantity:quantity})



            }
        },

    }


</script>
<style lang="sass" scoped>
    .my-card
        width: 100%
        max-width: 270px
        float: right
</style>