<template>
  <q-page padding>
    <!-- content -->
    <div class="row justify-end">
      <q-btn color="primary" style="width: 200px"
             icon="queue"
             @click="card = true"
      >
        <div class="ellipsis">
          Add Ingredients
        </div>
      </q-btn>
    </div>
    <div class="q-pa-md" style="max-width:1000px">
    <q-list bordered>
      <div   v-for="(ingredient_shop, i) in  shopping_list "
             :key="i"
      >
      <q-item clickable v-ripple>
        <q-item-section>{{ ingredient_shop.name}}</q-item-section>
        <q-item-section >
          {{ ingredient_shop.quantity}}
        </q-item-section>
        <q-item-section >
        <q-btn  size="sm"  label="Edit" color="primary" @click="edit = true"></q-btn>
        </q-item-section>
          <q-item-section >
        <q-btn  size="sm" label="Delete" color="red"  @click="confirm = true"></q-btn>
        </q-item-section>
      </q-item>
        <q-dialog v-model="confirm" persistent>
          <q-card>
            <q-card-section class="row items-center">
              <q-avatar icon="delete" color="primary" text-color="white" />
              <span class="q-ml-sm">You are sure that you want to Delete this ingredient ?</span>
            </q-card-section>
            <q-card-actions align="right">
              <q-btn flat label="Cancel" color="primary" v-close-popup />
              <q-btn  v-close-popup flat label="Delete" color="primary" @click.prevent="deleteIngredient(ingredient_shop.name,ingredient_shop.quantity)"  v-close-popup/>
            </q-card-actions>
          </q-card>
        </q-dialog>
        <q-dialog v-model="edit" persistent>
          <q-card style="min-width: 350px">
            <q-card-section>
              <div class="text-h6">Edit quantity</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              <q-input dense v-model="edit_quantity" autofocus @keyup.enter="edit= false" />
            </q-card-section>

            <q-card-actions align="right" class="text-primary">
              <q-btn flat label="Cancel" v-close-popup />
              <q-btn flat label="Edit" @click.prevent="editIngredient(ingredient_shop.name)" v-close-popup />
            </q-card-actions>
          </q-card>
        </q-dialog>
      </div>
    </q-list>
    </div>
    <!--<div class="q-pa-md row items-start q-gutter-md">
      <div   v-for="(ingredient_shop, i) in  shopping_list "
             :key="i"
      >
        <q-card class="my-card">
          <q-card-section>
            <div class="text-h6"> {{ ingredient_shop.name}}</div>
            <div class="text-subtitle2">{{ingredient_shop.quantity}} </div>
          </q-card-section>
          <q-card-section class="q-pa-md row items-start q-gutter-md">
            <q-btn  size="sm"  label="Edit" color="primary" :to="{name:'edit_recipe', params: { id : i }}"></q-btn>
            <q-btn  size="sm" label="Delete" color="red"  @click="confirm = true"></q-btn>
          </q-card-section>
        </q-card>
      </div>-->
      <q-dialog v-model="card" persistent>
        <q-card style="min-width: 350px">
          <q-card-section>
            <div class="text-h6">ingredients</div>
          </q-card-section>
          <q-card-section class="q-pt-none">
            <div v-for="(ingredient,k) in ingredients" :key="k">
              <div class="row justify-between" style="height: 150px">
                <div class="col-4 col-md-6  q-pr-sm"> <q-input  outlined v-model="ingredient.name" label="Name" autofocus @keyup.enter="prompt = false" /></div>
                <div class="col-4 col-md-6 q-pl-sm"><q-input  outlined v-model="ingredient.quantity" label="Quantity" type="number" autofocus @keyup.enter="card = false" />
                </div >
             <!--   <q-btn  size="sm"  label="Add" color="primary" @click="add(k)" v-show="k == ingredients.length-1"></q-btn>
                <q-btn label="remove" size="sm" color="red" @click="remove(k)" v-show="k || ( !k && ingredients.length > 1)"></q-btn>-->
              </div>
          <q-card-actions align="right" class="text-primary">
            <div class="q-gutter-md row items-start">
              <div class="column" >
                <q-btn flat label="Cancel" v-close-popup />
              </div>
              <q-btn flat label="Add ingredient" v-close-popup type="submit"  @click.prevent="add_to_shopping(ingredient.name,ingredient.quantity)" />
            </div>
          </q-card-actions>
    </div>
          </q-card-section>
        </q-card>
      </q-dialog>

  </q-page>
</template>

<script>
  export default {
    // name: 'PageName',
    data() {
      return {
        confirm: false,
        edit: false,
        card: false,
        check:false,
        edit_quantity:'',
        selected_recipe:{},
        ingredients: [
          {
            name: '',
            quantity:''
          }
        ],
      }
    },
    computed: {
      shopping_list: {
        get() {
          return this.$store.state.shopping.shopping_list
        }
      }
    },
    mounted(){
      console.log(this.$store.state.shopping.shopping_list)
    },
    methods: {
      deleteIngredient(name,quantity) {
        this.$store.dispatch("shopping/delete_ingredient_from_shopping", {name:name, quantity: quantity})
      },
      add_to_shopping(name,quantity){
          this.$store.dispatch("shopping/add_ingredient_to_shopping",{name:name,quantity:quantity})
          //this.$store.dispatch("shopping/delete_ingredient_from_shopping", {name: this.name, quantity: quantity})
        },
      editIngredient(name){
        this.$store.dispatch("shopping/edit_quantity", {name:name, quantity: this.edit_quantity})

      }


      }


  }


</script>
<style lang="sass" scoped>
  .my-card
    width: 100%
    max-width: 270px
    float: right
</style>