<template>
  <div>
  <div class="row justify-between" style="height: 150px">
    <div class="col-4 col-md-6  q-pr-sm"> <q-input  outlined v-model="ingredient_name" label="Name" autofocus @keyup.enter="prompt = false" /></div>
    <div class="col-4 col-md-6 q-pl-sm"><q-input  outlined v-model="ingredient_quantity" label="quantity" type="number" autofocus @keyup.enter="prompt = false" />
    </div>
    <q-btn label="Full Height" color="primary" @click="fullHeight = true" />
    </div>
<div  v-model="fullHeight">
  <div class="row justify-between" style="height: 150px">
    <div class="col-4 col-md-6  q-pr-sm"> <q-input  outlined v-model="ingredient_name" label="Name" autofocus @keyup.enter="prompt = false" /></div>
    <div class="col-4 col-md-6 q-pl-sm"><q-input  outlined v-model="ingredient_quantity" label="quantity" type="number" autofocus @keyup.enter="prompt = false" />
    </div>
</div>
</div>
  </div>
</template>

<script>
export default {
   name: 'IngredientInput',
  data () {
    return {
      ingredient_name:'',
      ingredient_quantity:'',
      fullHeight: false,
      rules: {
        required: value => !!value || 'required'
      }
    }
  }
}
</script>
