<template>
  <q-layout view="hHh Lpr fFf"> <!-- Be sure to play with the Layout demo on docs -->

    <!-- (Optional) The Header -->
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          round
          dense
          icon="menu"
          @click="leftDrawer = !leftDrawer"
        />
        <q-toolbar-title>
          Recipes and Shopping List
        </q-toolbar-title>
      </q-toolbar>

    </q-header>

    <!-- (Optional) The Footer -->
    <q-footer>
      <q-toolbar>
        <q-toolbar-title>© UNIFI Solutions 2021
        </q-toolbar-title>
      </q-toolbar>
    </q-footer>

    <!-- (Optional) A Drawer; you can add one more with side="right" or change this one's side -->
    <q-drawer
      v-model="leftDrawer"
      side="left"
      bordered
      content-class="bg-grey-2"
    >
      <!-- QScrollArea is optional -->
      <q-scroll-area class="fit q-pa-sm">
        <q-tabs>
       <q-route-tab
           icon="local_dining"
           to="/recipes"
           replace
           label="Recipes"
          />
        </q-tabs>
        <q-tabs>
          <q-route-tab
                  icon="shopping_cart"
                  to="/shopping_list"
                  replace
                  label="Shopping List"
          />
        </q-tabs>
        <q-tabs>
          <q-route-tab
                  icon="exit_to_app"
                  replace
                  @click="logout()"
                  to="/register"
                  label="Log Out"
          />
        </q-tabs>
        <!-- Content here -->
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <!-- This is where pages get injected -->
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  // name: 'LayoutName',

  data () {
    return {
      leftDrawer: true
    }
  },
  methods:{
    logout(){
      localStorage.clear();

    },
  }
}
</script>
